/* General styles */
html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* Top navigation */
.topnav {
    overflow: hidden;
    background-color: #2367bb;

}

.topnav a {
    float: left;
    text-align: center;
    padding: 10px 20px;
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: 0.8s;
}

.topnav a.active {
    background-color: #0a3c78;
    transition: 0.8s;
}

.topnav a:hover,
.topnav a.active:hover {
    background-color: #042349;
}

/* Social links */
.socials {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
    margin-top: 2rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    transition: 0.5s linear;
    border-radius: 5%;
    background-color: #1C6DD0;
}

.images {
    width: 10rem;
    height: 10rem;
}

.social:hover {
    background-color: #0a3c78;
}

.social:hover img {
    width: 11rem;
    height: 11rem;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .topnav a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    .topnav a {
        font-size: 14px;
    }
}
